{
"dataBase":{
    "service":"mySql",
    "auth":{
      "mySql":{
        "username":"exemple",
        "password":"exemple",
        "address":"exemple",
        "dataBase":"ex"
      }
    }
},
"mailer":{
  "service": "Gmail",
    "auth": {
      "Gmail":{
        "user": "exemple@gmail.com",
        "pass": "password"
      }
    }
  }
}
