doctype html
html(lang="fr")
  head
    meta(charset="utf-8")
    meta(http-equiv='Cache-Control', content='no-store')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    title Ethylokey
    // Favicon
    link(rel='shortcut icon', type='image/icon', href='/static/assets/images/favicon.ico')
    // Font Awesome
    link(href='/static/assets/css/font-awesome.css', rel='stylesheet')
    // Bootstrap
    link(href='/static/assets/css/bootstrap.css', rel='stylesheet')
    // Slick slider
    link(rel='stylesheet', type='text/css', href='/static/assets/css/slick.css')
    // Fancybox slider
    link(rel='stylesheet', href='/static/assets/css/jquery.fancybox.css', type='text/css', media='screen')
    // Animate css
    link(rel='stylesheet', type='text/css', href='/static/assets/css/animate.css')
    // Theme color
    link#switcher(href='/static/assets/css/theme-color/default-theme.css', rel='stylesheet')
    // Main Style
    link(href='/static/style.css', rel='stylesheet')
    // Fonts
    // Open Sans for body font
    link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    // Cabin for Title
    link(href='https://fonts.googleapis.com/css?family=Cabin', rel='stylesheet', type='text/css')
    // Pacifico for Logo
    link(href='https://fonts.googleapis.com/css?family=Pacifico', rel='stylesheet', type='text/css')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body
    // BEGAIN PRELOADER
    #preloader
      #status  
    // END PRELOADER
    // Start menu area
    .nav-area
      a#menu-btn(href='#')
        i.fa.fa-bars
      nav#main-menu.main-nav
        span#close.fa.fa-remove
        ul
          li
            a(href='#header')
              i.fa.fa-home
              span Home
          li
            a(href='#features')
              i.fa.fa-server
              span Les fonctionnalités
          li
            a(href='#pricing-table')
              i.fa.fa-usd
              span Nos tarifs
          li
            a(href='#screenshot')
              i.fa.fa-image
              span Screenshots
          li
            a(href='#testimonial')
              i.fa.fa-black-tie
              span A propos de nous
          li
            a(href='#help')
              i.fa.fa-hand-o-right
              span Ils nous ont aidés
          li
            a(href='#our-tech')
              i.fa.fa-code
              span Nos technologies
          li
            a(href='#contact')
              i.fa.fa-envelope-o
              span Contact
    // End menu area
    // Start header section
    header#header
      .header-inner
        // Header image
        .overlay
          .header-content
            .container
              .row
                .col-md-12
                  .header-top
                    // Start logo area
                    .logo-area
                      // Image based logo
                      a.logo(href='#')
                        img(src='/static/assets/images/logo.png', alt='logo')
                      // Text based logo
                      // <a class="logo" href="index.html">Ethylokey</a>
                    // End logo area
                .col-md-12
                  .header-bottom
                    .row
                      .col-md-6.col-sm-6
                        .header-bottom-left
                          h1 "L'après soirée en toute sérénité"
                          p
                            | Repartir? Comment? Où dormir ? Ces questions ne se posent même plus grâce à Ethylokey
                          a.download-btn(href='#download-app') Download App
                      .col-md-6.col-sm-6
                        .header-bottom-right
                          // <img src="assets/images/iphone-group1.png" alt="iphone grpup img">
                          img(src='/static/assets/images/phones-header.png', alt='iphone grpup img')
    // End header section
    // Start Features
    section#features
      .container
        .row
          .col-md-12
            .title-area
              h2.title
                | Les&nbsp;
                span Fonctionnalités
              p Notre but est d'amener une solution concrète contre l'alcoolémie au volant
          .col-md-12
            .features-area
              .row
                // Start features left
                .col-md-4
                  .features-left
                    ul.features-list.features-list-left
                      li.wow.fadeInLeft(data-wow-duration='0.5s', data-wow-delay='0.5s')
                        i.fa.fa-taxi.custom-color
                        .features-content
                          h4 Taxi les plus proche
                          p Pas besoin de chercher un numéro de taxi, nous le faisons pour vous
                      li.wow.fadeInLeft(data-wow-duration='0.75s', data-wow-delay='0.75s')
                        i.fa.fa-phone
                        .features-content
                          h4 Appeler un proche
                          p Appeler un numéro favori pour qu'il vienne vous chercher
                      li.wow.fadeInLeft(data-wow-duration='1s', data-wow-delay='1s')
                        i.fa.fa-bed
                        .features-content
                          h4 Dormir, mais où?
                          p Nous vous proposons une liste des hôtels les plus proches
                      li.wow.fadeInLeft(data-wow-duration='1s', data-wow-delay='1s')
                        i.fa.fa-map
                        .features-content
                          h4 Vous guider
                          p
                            | Pour aller jusqu'à l'hôtel ou jusqu'à chez vous, nous vous guidons grâce a quelques clics
                // End features left
                // Start features img
                .col-md-4
                  .feature-img.wow.fadeInUp
                    img(src='/static/assets/images/nexus-6-single.jpg', alt='iPhone mockup')
                // End features img
                // Start features right
                .col-md-4
                  .features-right
                    ul.features-list.features-list-right
                      li.wow.fadeInRight(data-wow-duration='0.5s', data-wow-delay='0.5s')
                        i.fa.fa-clock-o
                        .features-content
                          h4 Pourquoi attendre ?
                          p Nous estimons votre temps d'attente pour pouvoir reconduire
                      li.wow.fadeInRight(data-wow-duration='0.75s', data-wow-delay='0.75s')
                        i.fa.fa-lock
                        .features-content
                          h4 Systeme de protection
                          p L'assurance de repartir sans se mettre en danger
                      li.wow.fadeInRight(data-wow-duration='1s', data-wow-delay='1s')
                        i.fa.fa-heart
                        .features-content
                          h4 User Friendly
                          p Une application facile à prendre en main, même en état d'ivresse
                      li.wow.fadeInRight(data-wow-duration='1s', data-wow-delay='1s')
                        i.fa.fa-thumbs-up
                        .features-content
                          h4 De nombreux conseils
                          p Parce que l'on est jamais assez bien averti
                // End features right
    // End Features
    // Start how it works
    section#howit-works
      .howit-works-area
        .container
          .row
            .title-area.wow.fadeInLeft
              h2.title
                | Comment ça&nbsp;
                span marche
              p
                | Un simple ethylotest qui bloque votre clef accompagné d'une application.
                | Le principe ? Rendre encore plus facile l'après soirée tout en ayant profité au maximum
              p  Cette vidéo provient du Hackathon réalisé en 2016 à Saint-Quentin, dans le cadre du concours des jeunes talents du numérique
            .col-md-12
              .howit-works-video
                iframe(src='https://player.vimeo.com/video/173460700', width='428', height='276', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
    // End how it works
    // start pricing table
    section#pricing-table
      .container
        .row
          .col-md-12
            .title-area.wow.fadeInLeft
              h2.title
                | Nos&nbsp;
                span Tarifs
              p
                |  C'est ici que commence l'expérience Ethylokey. L'application seule ou munie de l'ethylotest connecté, il est temps de prendre vos responsabilités !
            .pricing-table-content
              .row
                // Start single plan
                .col-md-3.col-sm-6
                  .single-plan.wow.fadeInUp(data-wow-duration='0.5s', data-wow-delay='0.5s')
                    .single-plan-head
                      h5 Gratuit
                      p
                        | 0
                        span €
                    .single-plan-content
                      ul
                        li Application
                        li.delete Ethylotest connecté
                        li.delete Accès à l'API
                    .single-plan-bottom
                      a.signup-btn(href='') Soon
                // End single plan
                // Start single plan
                .col-md-3.col-sm-6
                  .single-plan.wow.fadeInUp(data-wow-duration='0.75s', data-wow-delay='0.75s')
                    .single-plan-head
                      h5 Etudiants
                      p
                        | 50
                        span €
                    .single-plan-content
                      ul
                        li Application
                        li Ethylotest connecté
                        li.delete Accès à l'API
                    .single-plan-bottom
                      a.signup-btn(href='') Soon
                // End single plan
                // Start single plan
                .col-md-3.col-sm-6
                  .single-plan.wow.feature-price.fadeInUp(data-wow-duration='1s', data-wow-delay='1s')
                    .single-plan-head
                      h5 Normal
                      p
                        | 60
                        span €
                    .single-plan-content
                      ul
                        li Application
                        li Ethylotest connecté
                        li.delete Accès à l'API
                    .single-plan-bottom
                      a.signup-btn(href='') Soon
                // End single plan
                // Start single plan
                .col-md-3.col-sm-6
                  .single-plan.wow.fadeInUp(data-wow-duration='1.25s', data-wow-delay='1.25s')
                    .single-plan-head
                      h5 Devs
                      p
                        | 70
                        span €
                    .single-plan-content
                      ul
                        li Application
                        li Ethylotest connecté
                        li Accès à l'API
                    .single-plan-bottom
                      a.signup-btn(href='') Soon
                // End single plan
    // End pricing table
    // Start screenshot
    section#screenshot
      .container
        .row
          .col-md-12
            .title-area.wow.fadeInUp
              h2.title
                | App&nbsp;
                span Screenshots
              p
                | Ces différentes captures d' écrans sont ici pour vous prouver sa simple utilisation en quelques clics. L' application est actuellement en Beta
          .col-md-12
            .screenshots-area
              ul.screenshots-slide
                li.col-md-3.wow.fadeInLeft
                  a.fancybox(data-fancybox-group='gallery', href='/static/assets/images/alcoolemie-popup.png')
                    img(src='/static/assets/images/alcoolemie.png', alt='alcoolemie')
                    .view-btn-area
                      span.fa.fa-search.view-btn
                li.col-md-3.wow.fadeInLeft
                  a.fancybox(data-fancybox-group='gallery', href='/static/assets/images/bluetooth-popup.png')
                    img(src='/static/assets/images/bluetooth.png', alt='bluetooth')
                    .view-btn-area
                      span.fa.fa-search.view-btn
                li.col-md-3.wow.fadeInLeft
                  a.fancybox(data-fancybox-group='gallery', href='/static/assets/images/hotels-popup.png')
                    img(src='/static/assets/images/hotels.png', alt='hotels')
                    .view-btn-area
                      span.fa.fa-search.view-btn
                li.col-md-3.wow.fadeInLeft
                  a.fancybox(data-fancybox-group='gallery', href='/static/assets/images/taxis-popup.png')
                    img(src='/static/assets/images/taxis.png', alt='taxis')
                    .view-btn-area
                      span.fa.fa-search.view-btn
                li.col-md-3.wow.fadeInLeft
                  a.fancybox(data-fancybox-group='gallery', href='/static/assets/images/settings-popup.png')
                    img(src='/static/assets/images/settings.png', alt='settings')
                    .view-btn-area
                      span.fa.fa-search.view-btn
                li.col-md-3.wow.fadeInLeft
                  a.fancybox(data-fancybox-group='gallery', href='/static/assets/images/raccourci-call-popup.png')
                    img(src='/static/assets/images/raccourci-call.png', alt='call')
                    .view-btn-area
                      span.fa.fa-search.view-btn
                li.col-md-3.wow.fadeInLeft
                  a.fancybox(data-fancybox-group='gallery', href='/static/assets/images/splash-popup.png')
                    img(src='/static/assets/images/splash.png', alt='splash')
                    .view-btn-area
                      span.fa.fa-search.view-btn

                li.col-md-3.wow.fadeInLeft
                  a.fancybox(data-fancybox-group='gallery', href='/static/assets/images/ethyloApp-popup.png')
                    img(src='/static/assets/images/ethyloApp.png', alt='Ethylokey logo')
                    .view-btn-area
                      span.fa.fa-search.view-btn
    // End screenshot
    // Start testimonial
    section#testimonial
      .container
        .row
          .col-md-12
            .title-area.wow.fadeInLeft
              h2.title
                | A propos de&nbsp;
                span Nous
              p Nous sommes une jeune équipe de développeurs polyvalents encore en formation.
          .col-md-12
            // single slide
            .col-md-6(align='center')
              img.img-responsive.img-circle(src='/static/assets/images/cyril.jpg', alt='charlier cyril img')
              p.testi-name Cyril Charlier
              p.testi-company
                | Développeur Web&nbsp;&nbsp;
                a(href='https://fr.linkedin.com/in/charliercyril')
                  i.fa.fa-linkedin-square
                |&nbsp;&nbsp;
                a(href='https://github.com/Cydev2306')
                  i.fa.fa-github
              p.testi-text Innover sur des problématiques concrètes est un vrai challenge
            // single slide
            .col-md-6(align='center')
              img.img-circle(src='/static/assets/images/david.jpg', alt='david Gabrielli img', height='153', width='153')
              p.testi-name David Gabrielli
              p.testi-company
                | Développeur Web&nbsp;&nbsp;
                a(href='https://fr.linkedin.com/in/david-gabrielli-97b43899')
                  i.fa.fa-linkedin-square
                |&nbsp;&nbsp;
                a(href='https://github.com/dgabrielli76')
                  i.fa.fa-github
              p.testi-text Ethylokey est une solution parfaite contre l'alcoolémie au volant
    // End testimonial
    // Start download app
    section#download-app
      .download-overlay
        .container
          .row
            .col-md-12
              .title-area.wow.fadeInUp
                h2.title
                  | Télécharger l'&nbsp;
                  span App
                p
                  | Téléchargez dès maintenant votre trousse à outils post-soirées !
                  | Ceux qui l'ont déjà essayés sont déjà convaicus, alors pourquoi pas vous ?
                p.testi-text Ethylokey, l'après-soirée en toute sérénité
            // Start download app content
            .col-md-12
              .download-app-content
                // Start single download
                a.single-download.wow.fadeInLeft(data-wow-duration='0.75s', data-wow-delay='0.75s', href='#')
                  .download-icon
                    i.fa.fa-play
                  .download-content
                    p Coming Soon on the
                    span Play Store
                // Start single download
                a.single-download.wow.fadeInLeft(data-wow-duration='1s', data-wow-delay='1s', href='#')
                  .download-icon
                    i.fa.fa-apple
                  .download-content
                    p Coming Soon on the
                    span Apple Store
    // End download app
    // start pricing table
    section#help
      .container
        .row
          .col-md-12
            .title-area.wow.fadeInLeft
              h2.title
                | Ils nous ont&nbsp;
                span Aidés
              p.marginBottom
                | Nous tenons particulièrement à remercier quelques collaborateurs qui nous ont permis de réaliser ce projet
          .col-md-12.marginBottom
            .col-md-4(align='center')
              img.img-circle(src='/static/assets/images/wulka.jpg', alt='Wulka img', height='153', width='153')
              p.testi-name Balga Benjamin
              p.testi-company Fondateur associé de Wulka Drones
            .col-md-4(align='center')
              img.img-circle(src='/static/assets/images/wulka.jpg', alt='Wulka img', height='153', width='153')
              p.testi-name Chrétien Cédric
              p.testi-company Fondateur associé de Wulka Drones
            .col-md-4(align='center')
              img.img-circle(src='/static/assets/images/gabriel.jpg', alt='Gabriel Jolyimg', height='153', width='153')
              p.testi-name Joly Gabriel
              p.testi-company Designer
    // End pricing table
    // Start subscribe
    section#subscribe
      .download-overlay
        .container
          .row
            .col-md-12
              .title-area.wow.fadeInUp
                h2.title
                  | Suivez notre&nbsp;
                  span Newsletter
                  |  !
                p
                  | Un simple champ à renseigner et vous serez au courant de nos dernières nouveautés !
            // Start download app content
            .col-md-12
              .subscribe-content.wow.fadeInLeft
                form.subcr-form(action='/',method="post" id="NewsletterForm")
                  i.fa.fa-envelope-o
                  input(type='text', name='usermail', id='',required="required" , placeholder='votreAdresse@mail.com')
                  button.subcr-btn(type='submit') Souscrire
                  div(class='msgbox')
    // End download app
    // Start techno uses
    section#our-tech
      .container
        .row
          .col-md-12
            .title-area.wow.fadeInLeft
              h2.title
                | Nos &nbsp;
                span Technologies
              p
                | Ethylokey a été réalisé a l'aide de nombreuses technologies
          .col-md-12.marginBottom
            .col-md-4(align='center')
              img.img-circle(src='/static/assets/images/ionic.png', alt='Ionic', height='120', width='120')
              p.testi-name Ionic
              p.testi-company Applications mobiles hybrides ( Cordova, Angular)
            .col-md-4(align='center')
              img.img-circle(src='/static/assets/images/arduino-card.png', alt='Arduino', height='120', width='120')
              p.testi-name Arduino
              p.testi-company Carte et Programmation de l'Ethylokey
            .col-md-4(align='center')
              img.img-circle(src='/static/assets/images/nodejs.png', alt='Node js', height='120', width='120')
              p.testi-name Node js
              p.testi-company Parce que le JS c'est aussi coté serveur
          .col-md-12
            .col-md-4(align='center')
              img.img-circle(src='/static/assets/images/firebase.png', alt='FireBase', height='120', width='120')
              p.testi-name FireBase
              p.testi-company Base de donnée NOSQL
            .col-md-4(align='center')
              img.img-circle(src='/static/assets/images/mailgun.png', alt='Mailgun', height='120', width='120')
              p.testi-name Mailgun
              p.testi-company Service d'envoi & de réception d'Emails
            .col-md-4(align='center')
              img.img-circle(src='/static/assets/images/keymetrics.png', alt='Keymetrics', height='120', width='120')
              p.testi-name Keymetrics
              p.testi-company Outil de monitoring node Js
    //End technos
    // Start contact
    section#contact
      .container
        .row
          .col-md-12
            .title-area
              h2.title
                | N'hésitez pas a nous&nbsp;
                span Contacter
                |  !
              p Besoins de renseignements ? Nous prendrons le temps de vous répondre
          .col-md-12
            .contact-area
              form.contact-form(action='/',method="post" id="ContactForm")
                .form-group
                  input.form-control(type='text', name="username", required="required", placeholder='Votre nom')
                .form-group
                  input.form-control(type='email',name="usermail" ,required="required", placeholder='Votre adresse mail')
                .form-group
                  textarea.form-control(rows='3',name="message" ,required="required", placeholder='Votre message')
                .send-area
                  button.send-btn(type='submit') Envoyer
              div(class='msgboxcontact')
    // End contact
    // Start footer
    footer#footer
      .container
        .row
          .col-md-12
            .footer-text
              p Designed by Ethylokey Team
    // End
    // jQuery library
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    // Bootstrap
    script(src='/static/assets/js/bootstrap.js')
    // Slick Slider
    script(type='text/javascript', src='/static/assets/js/slick.js')
    // Add fancyBox
    script(type='text/javascript', src='/static/assets/js/jquery.fancybox.pack.js')
    // Wow animation
    script(type='text/javascript', src='/static/assets/js/wow.js')
    // Off-canvas Menu
    script(src='/static/assets/js/classie.js')
    // Custom js
    script(type='text/javascript', src='/static/assets/js/custom.js')
    script.
      $('document').ready(function(){
        $('#NewsletterForm').on('submit',function(e){
          e.preventDefault()
          $.post( "/mailer",$( "#NewsletterForm" ).serialize(), function(data) {
            $( ".msgbox" ).toggleClass(('sucess')).html(data);
          }).fail(function(data) {
            $( ".msgbox" ).toggleClass(('error')).html(data.responseText);
          });
        })

        $('#ContactForm').on('submit',function(e){
          e.preventDefault()
          $.post( "/contact",$( "#ContactForm" ).serialize(), function(data) {
            $( ".msgboxcontact" ).toggleClass(('sucess')).html(data);
          }).fail(function(data) {
            $( ".msgboxcontact" ).toggleClass(('error')).html(data.responseText);
          })
        })
      })
